body {
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    height: 100vh;
    margin: 0; 
    background-color: #f0f0f0; 
}

.button-container {
    margin-bottom: 20px; 
}

button {
    padding: 10px 20px; 
    font-size: 16px;
    cursor: pointer;
    border: none; 
    border-radius: 5px; 
    background-color: #4CAF50; 
    color: white;
    transition: background-color 0.3s; 
}

button:hover {
    background-color: #45a049;
}

canvas {
    border: 1px solid black;
}

.sound-toggle {
    position: absolute;
    top: 20px;
    right: 20px;
    background: transparent;
    font-size: 24px;
    border: none;
    cursor: pointer;
    z-index: 9999;
  }
  